:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0f172a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #2563eb;
  --secondary-color: #64748b;
  --bg-color: #0f172a;
  --card-bg: #1e293b;
  --success-color: #10b981;
  --warning-color: #f59e0b;
  --error-color: #ef4444;
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

* {
  box-sizing: border-box;
}